{% extends "base.html" %}
{% block main %}
  {% load i18n %}

  <div class="container"> 
    <p class="h1">{{ title }}</p>
    <table class="table table-dark">
        <a class="btn btn-primary mb-3" href="{% url 'label_create' %}">{% trans 'Create label' %}</a>
        <thead>
        <tr>
          <th>ID</th>
          <th>{% translate "Name" %}</th>
          <th>{% translate "Creation date" %}</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        {% for label in labels %}
            <tr>
              <td>{{ label.id }}</td>
              <td>{{ label.name }}</td>
              <td>{{ label.created_at }}</td>
              <td>
                <a href="{% url 'label_update' pk=label.id %}">{% translate 'Update' %}</a>
                <br>
                <a href="{% url 'label_delete' pk=label.id %}">{% translate "Delete" %}</a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>  
{% endblock main %}
