{% extends "base.html" %}
{% block main %}
  {% load i18n %}

<div class="container"> 
  <p class="display-5 my-1">{{ title }}</p>
  <div class="card text-dark">
    <h5 class="card-header">{{ task.name }}</h5>
    <div class="card-body">
      <p class="card-text">{{ task.description }}</p>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col">{% translate "Author" %}</div>
          <div class="col">{{ task.author }}</div>
        </div>
        <div class="row">
          <div class="col">{% translate "Executor" %}</div>
          <div class="col">{{ task.executor }}</div>
        </div>
        <div class="row">
          <div class="col">{% translate "Status" %}</div>
          <div class="col">{{ task.status }}</div>
        </div>
        <div class="row">
          <div class="col">{% translate "Created" %}</div>
          <div class="col">{{ task.created_at }}</div>
        </div>
        <div class="row">
          <a href="{% url 'task_update' pk=task.id %}">{% translate 'Update' %}</a>
        </div>
        <div class="row">
          <a href="{% url 'task_delete' pk=task.id %}">{% translate "Delete" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}


